<h2>Home Page</h2>
<div>
    Welcome to my resume/portfolio site. My name is Cody Liu and I am primarily a programmer, with a mix of other skills, 
    like digital art and music. This site was made as a portfolio of some of my personal projects. I've included a 
    demonstration and some explanations on each page. The “What is it?” sections of each page provde a basic summary of each thing.
    The rest is there if you want more detail, so I hope you find it interesting.
</div>
<br />

<div fxLayout="row wrap" fxLayoutAlign="start start">
    <div style="padding-right: 1em">
        <h2>This Site</h2>
        <div>This site was written in Angular and hosted on Vercel. It also has a backend written in Express and hosted on Heroku.</div>
        <br />
    
        <h2>My Skills</h2>
        <div flexLayout="row" fxLayoutAlign="start stretch" >
            <div style="padding-right: 10px">
                <h3>Programming Languages</h3>
                <div>- JavaScript (TypeScript)</div>
                <div>&nbsp;&nbsp;&nbsp;- Express</div>
                <div>&nbsp;&nbsp;&nbsp;- Angular</div>
                <div>&nbsp;&nbsp;&nbsp;- React</div>
                <div>&nbsp;&nbsp;&nbsp;- Node</div>
                <div>- HTML/CSS</div>
                <div>- C#</div>
                <div>- Java</div>
                <div>- Minor experience with Python, C, HLSL</div>
            </div>
            <div>
                <h3>Other Skills</h3>
                <div>- Unity game engine</div>
                <div>- FamiTracker for 8-bit music</div>
                <div>- Krita for art</div>
                <div>- Musescore for musical scores and piano</div>
            </div>
        </div>
    </div>
    <div fxLayout="column" class="main-picture">
        <img src="../../../assets/me.png" width="300" style="max-width: 400px" fxFlex="end" />
        <div>Me, right after finishing this site</div>
    </div>
</div>
<br />

<h2>Other Details</h2>
<div>Github: <a href="https://github.com/codster76">https://github.com/codster76</a></div>
<div>Email: codyliu761@gmail.com</div>