<div>Home Page</div>
<div>
    Welcome to my resume/portfolio site. I am Cody Liu and I am primarily a programmer, with a mix of other skills, like digital art and music. Every page demonstrates some of my previous work and a bit of background and/or explanation on them. Don’t feel too obligated to read everything I write on every page because I do go into a lot of longwinded detail about everything. The “What is it?” sections of each page give a basic summary of each thing. The rest is there if you want more detail, so I hope you find it interesting.
</div>
<br />

<div>This Site</div>
<div>This site was written in Angular and hosted on Vercel. It also has a backend written in Express and hosted on Heroku.</div>
<br />

<div>My Skills</div>
<div flexLayout="row" fxLayoutAlign="start stretch" >
    <div style="padding-right: 10px">
        <div>Programming Languages</div>
        <div>- JavaScript (TypeScript)</div>
        <div>&nbsp;&nbsp;&nbsp;- Express</div>
        <div>&nbsp;&nbsp;&nbsp;- Angular</div>
        <div>&nbsp;&nbsp;&nbsp;- React</div>
        <div>&nbsp;&nbsp;&nbsp;- Node</div>
        <div>- HTML/CSS</div>
        <div>- C#</div>
        <div>- Java</div>
        <div>- Minor experience with Python, C, HLSL</div>
    </div>
    <div>
        <div>Other Skills</div>
        <div>- Unity game engine</div>
        <div>- FamiTracker for 8-bit music</div>
        <div>- Krita for art</div>
        <div>- Musescore for musical scores and piano</div>
    </div>
</div>