.heading {
    user-select: none;
}

.item-row:hover {
    background-color: grey;
}

.input-button {
    background-color: rgb(224, 224, 224);
    border: 1px black solid;
    border-radius: 3px;
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    background-color: rgb(170, 170, 170);
}