.heading {
    user-select: none;
}

.heading-group {
    margin-bottom: 5px;
}

.item-row {
    height: 25px;
}

.item-row:hover {
    background-color: rgb(0,0,252);
}

.input-button {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 40px;
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    background-color: rgb(60, 188, 252);;
}

@media (max-width: 1200px) {
    .description {
        visibility: hidden;
    }
}