<button (click)="modalService.open('itemForm')">Add Item</button>
<div fxLayout="row" fxLayoutAlign="space-around start">
    <div class="heading" fxFlex="1" (click)="sortBy('name')">Name</div>
    <div class="heading" fxFlex="30" (click)="sortBy('description')">Description</div>
    <div class="heading" fxFlex="1" (click)="sortBy('value')">Value</div>
    <div class="heading" fxFlex="1" (click)="sortBy('weight')">Weight</div>
    <div class="heading" fxFlex="1" (click)="sortBy('quantity')">Quantity</div>
</div>
<ng-container *ngIf="itemSubject | async as items">
    <div *ngFor="let item of items">
        <div (click)="modalService.open(item.id)">
            <div fxLayout="row" fxLayoutAlign="space-around start">
                <div fxFlex="1">{{item.name}}</div>
                <div fxFlex="30">{{item.description}}</div>
                <div fxFlex="1">{{item.value}}</div>
                <div fxFlex="1">{{item.weight}}</div>
                <div fxFlex="1">{{item.quantity}}</div>
            </div>
            <app-modal [id]="item.id" [widthInPercent]="30" [heightInPercent]="90">
                <app-item-form [itemFormID]="item.id" [itemToDisplay]="item" (formSubmittedEvent)="editItem($event, item.id)"></app-item-form>
            </app-modal>
        </div>
    </div>
</ng-container>
<app-modal id="itemForm" [widthInPercent]="30" [heightInPercent]="90">
    <app-item-form itemFormID="itemForm" (formSubmittedEvent)="addNewItem($event)"></app-item-form>
</app-modal>