<div class="page-heading">Bad of Holding</div>
<button [ngClass]="{'input-button': true, 'pixel-border': true}" (click)="openModal(defaultItem, 'add')">Add Item</button>
<br /><br />
<div class="heading-group" fxLayout="row" fxLayoutAlign="space-around start">
    <div class="heading" fxFlex="1" (click)="sortBy('name')">{{generateHeading('name')}}</div>
    <div [ngClass]="{'heading': true, 'description': true}" fxFlex="30" (click)="sortBy('description')">{{generateHeading('description')}}</div>
    <div class="heading" fxFlex="1" (click)="sortBy('value')">{{generateHeading('value')}}</div>
    <div class="heading" fxFlex="1" (click)="sortBy('weight')">{{generateHeading('weight')}}</div>
    <div class="heading" fxFlex="1" (click)="sortBy('quantity')">{{generateHeading('quantity')}}</div>
</div>
<ng-container *ngIf="itemSubject | async as items">
    <div *ngFor="let item of items">
        <div class="item-row" (click)="openModal(item, 'edit')">
            <div fxLayout="row" fxLayoutAlign="space-around start">
                <div class="item-property" fxFlex="1">{{cutLongString(item.name, 15)}}</div>
                <div [ngClass]="{'item-property': true, 'description': true}" fxFlex="30">{{cutLongString(item.description, 60)}}</div>
                <div class="item-property" fxFlex="1">{{item.value}}</div>
                <div class="item-property" fxFlex="1">{{item.weight}}</div>
                <div class="item-property" fxFlex="1">{{item.quantity}}</div>
            </div>
        </div>
    </div>
</ng-container>
<br />
<div>
    Note: Render will try to rebuild the backend if it hasn't been used for a while, so it can take a 
    minute or two to load to begin with. It'll speed up significantly after loading once.
</div>

<br />
<h2>What is it?</h2>
<div>
    This is an item tracker for Dungeons & Dragons. The silly name is an inside joke between 
    a friend and I. This is a showcase for a UI for manipulating and managing objects in a backend 
    system/database. This could really be tracking anything, from job tickets, to stock, to D&D items. 
    It's got the basic functionality of adding, removing, editing, sorting and viewing objects.
</div>
<br />
<h2>How it Works</h2>
<div>
    It’s quite simple. I have a REST API in the backend that serves and receives items. 
    Changes/deletions/additions made on the frontend are reflected in the backend. For simplicity and 
    to avoid the need for maintenance, there isn't a real database tracking the items for this site 
    and it's just simulated in the server's memory. Adding a real database would certainly be possible, 
    but it would not meaningfully change the functionality being demonstrated on this page.
</div>