.result {
    width: 212px;
    height: 60px;
    overflow-wrap: anywhere;
    overflow: auto;
    --pointer-events: none;
}

.result-content {
    padding: 10px;
}

.buttons {
    width: 15em;
}

.input-button {
    color: white;
    width: 50px;
    height: 50px;
    margin: 2px;
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    background-color: rgb(60, 188, 252);
}

.buttonGroup {
    width: calc(var(--button-size) * 4);
}

.close-button {
    border-radius: 5px;
}

.close-button:hover {
    background-color: grey;
}