.result {
    border: black solid 2px;
    width: 15em;
    height: 3em;
    overflow-wrap: anywhere;
    overflow: auto;
}

.buttons {
    width: 15em;
}

.input-button {
    width: var(--button-size);
    height: var(--button-size);
    --button-size: 30px;
    background-color: rgb(224, 224, 224);
    border: 1px black solid;
    border-radius: 3px;
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    background-color: rgb(170, 170, 170);
}

.buttonGroup {
    width: calc(var(--button-size) * 4);
}

.close-button {
    border-radius: 5px;
}

.close-button:hover {
    background-color: grey;
}