.result {
    border: black solid 2px;
    width: 15em;
    height: 3em;
    overflow-wrap: anywhere;
    overflow: auto;
}

.buttons {
    width: 15em;
}

.inputButton {
    width: var(--button-size);
    height: var(--button-size);
    --button-size: 30px;
}

.buttonGroup {
    width: calc(var(--button-size) * 4);
}