<h2>Mega Man Echoes</h2>
<div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 1em">
    <iframe frameborder="0" src="https://itch.io/embed-upload/6661022?color=333333" allowfullscreen="" width="1280" height="720"><a href="https://codster76.itch.io/mega-man-echoes-demo-1">Play Mega Man Echoes Demo 1 on itch.io</a></iframe>
</div>

<div>Sorry, mobile users, but this game is only functional on desktops.</div>
<br />

<h3>Controls:</h3>
<div>
    Move: WASD<br />
    Jump: Space<br />
    Shoot: P<br />
    Slide: S + Space<br />
    Charge: Hold P<br />
</div>
<br />

<h2>What is it?</h2>
<div>A long-term personal project of mine. I’ve been working on a fangame for the Mega Man 
    series, a very old series of action-platformers for the Nintendo Entertainment System. I’m 
    attempting to be as faithful as possible to the style and limitations of the original games 
    (within reason). It’s being made in the Unity game engine and C# as the scripting language.</div>
<br />

<h2>Interesting Things</h2>
<h3>Controls</h3>
<div>It’s not particularly far into development, but so far, I have made a near-perfect 
    recreation of the core mechanics of the original games (movement, gravity, shooting, 
    sliding, etc.). It was more difficult than it sounds because I had to translate pixel 
    movement to vector movement. To achieve this, I recorded myself playing the original games, 
    imported the videos into Unity, scaled it up to the exact scale of my game and put them in 
    the background, then proceeded to follow the videos, adjusting values until everything felt 
    perfect. Not the most efficient process, but it worked out quite well.</div>
<br />

<h3>Shaders</h3>
<div>To facilitate colour palette swapping on the fly, I had to learn to write a bit of shader 
    code with HLSL (Unity’s shader language). You generally don’t want to be holding lots of 
    variables or performing lots of complex calculations for graphics code, so the solution I 
    settled on was using a reference texture to get colours from (basically like a lookup table). 
    On my main sprites, I’d use the red colour value (from the RGB value) of each pixel to reference 
    a location on the colour texture (e.g. a red value of 1 on a pixel in the main sprite would map 
    to an x-coordinate of 1 in the colour texture). I could then offset the coordinate values on the 
    colour texture if I wanted to swap colour palettes at any point.</div>
<br />

<h3>Object Pooling</h3>
<div>I use this design pattern for projectiles, partially for optimisation purposes and partially 
    as a novel way of recreating Mega Man’s on-screen projectile limit. The idea behind this pattern 
    is to reduce the number of times short-lived, numerous objects are created and destroyed. 
    Instead of creating new projectiles every time you attempt to shoot, then deleting them every 
    time they go off-screen or hit something, you create a pool of invisible and intangible 
    projectiles upon initialisation of the game, then you activate and teleport them over to your 
    position whenever you need them. When they are supposed to be destroyed, you just make them 
    invisible and intangible again. While this kind of optimisation is hardly necessary for a game 
    as light as this one, it is an interesting pattern to use and could be useful in the future.</div>