<mat-toolbar>
  <div *ngIf="sidenavOpen; else elseBlock">
    <div class="close-sidenav" (click)="toggleSidenav()"></div>
    <!-- <mat-icon class="open-sidenav" style="margin-top: 8px" (click)="toggleSidenav()">close</mat-icon> -->
  </div>
  <ng-template #elseBlock><div class="open-sidenav" (click)="toggleSidenav()"></div></ng-template>
  <div class="title" style="padding-left: 1em;" routerLink=""></div>
</mat-toolbar>

<mat-sidenav-container style="min-height: 100%">
  <mat-sidenav class="sidenav" mode="side" [opened]="sidenavOpen">
    <div fxLayout="column">
      <hr style="width: 90%" />
      <div class="nav-button" routerLink="">Home</div>
      <hr style="width: 90%" />
      <div class="nav-title">Web Apps</div>
      <div class="nav-button" routerLink="calculator">Calculator</div>
      <div class="nav-button" routerLink="autocomplete">Autocomplete</div>
      <div class="nav-button" routerLink="bad-of-holding">Bad of Holding</div>
      <div class="nav-button" routerLink="online-class">Online Class</div>
      <hr style="width: 90%" />
      <br />
      <hr style="width: 90%" />
      <div class="nav-title">Game Development</div>
      <div class="nav-button" routerLink="done-in-the-fungeon">Done in the Fungeon</div>
      <div class="nav-button" routerLink="mega-man-echoes">Mega Man Echoes</div>
      <hr style="width: 90%" />
      <br />
      <hr style="width: 90%" />
      <div class="nav-title">Other</div>
      <div class="nav-button" routerLink="ranker">Item Ranker</div>
      <div class="nav-button" routerLink="art-and-music">Art and Music</div>
      <div class="nav-button" routerLink="zanathars-guide">Zanathar's Guide</div>
      <div class="nav-button" routerLink="pixel-borders">Pixel Border System</div>
      <hr style="width: 90%" />
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column" fxLayoutAlign="space-between" style="min-height: 1000px">
      <div class="main-content" fxFlexAlign="center">
        <ng-content></ng-content>
      </div>
      <div class="footer">
        <div>Github: <a href="https://github.com/codster76">https://github.com/codster76</a></div>
        <div>Email: codyliu761@gmail.com</div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>