.content {
    background-color: greenyellow;
}

.sidenav-container {
    background-color: white;
}

.sidenav {
    background-color: white;
    width: 150px;
}

.sidenav-content {
    width: 100px;
    background-color: red;
}

.nav-button {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 50px;
}