.title:hover {
    cursor: pointer;
}

.open-sidenav:hover {
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.sidenav {
    width: 150px;
}

.nav-title {
    padding: 5px;
}

.nav-button {
    cursor: pointer;
    padding-left: 10px;
}

.nav-button:hover {
    background-color: grey;
    padding-left: 15px;
}

.main-content {
    width: 80%;
}

@media (max-width: 800px){
    .main-content {
        width: 100%;
    }
}