mat-toolbar {
    background-color: rgb(161, 161, 161);
}

mat-sidenav {
    background-color: white;
}

mat-sidenav-content {
    background-image:
        url(../../../assets/Blue-1-2.png),
        url(../../../assets/Blue-2-3.png),
        url(../../../assets/Blue-3-4.png),
        url(../../../assets/Blue-4-Black.png),
        url(../../../assets/Blue-1.png),
        url(../../../assets/Blue-2.png),
        url(../../../assets/Blue-3.png),
        url(../../../assets/Blue-4.png),
        url(../../../assets/Black.png);
    background-size:
        96px 100px,
        96px 100px,
        96px 100px,
        96px 100px,
        100px 20%,
        100px 40%,
        100px 60%,
        100px 80%,
        100px 100%;
    background-position:
        0% 20%,
        0% 40%,
        0% 60%,
        0% 80%,
        top left,
        top left,
        top left,
        top left,
        top left;
    background-repeat: repeat-x;
}

.title:hover {
    cursor: pointer;
}

.footer {
    background-color: rgb(161, 161, 161);
    padding: 30px;
}

.open-sidenav:hover {
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.sidenav {
    width: 150px;
}

.nav-title {
    padding: 5px;
}

.nav-button {
    cursor: pointer;
    padding-left: 10px;
}

.nav-button:hover {
    background-color: grey;
    padding-left: 15px;
}

.main-content {
    min-height: 100vh;
    width: 80%;
    background-color: white;
}

@media (max-width: 800px){
    .main-content {
        width: 100%;
    }
}