<h2>Zanathar's Guide to a Few Things</h2>
<h2>What is it?</h2>
<div>
    This is an ongoing Dungeons & Dragons 5e homebrew project I've been working on, both as a game design exercise and for fun. 
    It's an entire joke module made as a parody of Xanathar's Guide to Everything. My intent is to make it completely balanced 
    and usable in-game, despite the extremely silly humour. If you want to read some dumb comedy content while seeing some 
    legitimate gameplay ideas, stay tuned for more.
</div>
<br />

<div>Here are a few excerpts from the book:</div>
<br />

<h2>Subclasses</h2>
<div>
    Every class is going to have a subclass in this module.
</div>
<br />
<div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
    <div class="card" style="width:300px">
        <h3>Barbarian: Berserkest</h3>
        <div>
            A barbarian with a tiered rage mechanic. The first tier is weaker than a regular rage, while the third is stronger. This subclass will
            weave in and out of each stage throughout an encounter and will gain various benefits for maintaining a high rage stage.

            <br /><br />
            "What's berserker than a berserker? This subclass, of course. Some believe rage to be a binary concept. You’re either raging or not. 
            I’m here to tell you that rage is a spectrum. More specifically, there are 3 rage stages that I’ll outline on this page for you to gauge."
        </div>
    </div>
    
    <div class="card" style="width:300px">
        <h3>Bard: College of Memes</h3>
        <div>
            The meme in this context is an idea that spreads and mutates through a population of minds, though, there is no shortage of jokes pertaining to 
            the contemporary definition of the word. This subclass is focused around trying to spread a status condition to every enemy on the field, allowing you 
            to damage them all simultaneously.

            <br /><br />
            "Where the worlds of D&D have the cosmic horrors and eldritch abominations of the far realm, we have the unknowable paradigm that is the meme. 
            To understand either, you must wade amidst the horrors and bathe in its terrible knowings. This is irrefutable proof that we do, in fact, live 
            in the darkest, but also the dankest, timeline."
        </div>
    </div>
    
    <div class="card" style="width:300px">
        <h3>Rogue: Code of Shivalry</h3>
        <div>
            A subclass built around cheap tricks and dishonourable fighting. You've got tools like sucker punches, extra damage against weakened targets, and 
            running away when things go badly.

            <br /><br />
            "A gentlemanly code of conduct that always ends in someone being stabbed."
        </div>
    </div>
    
    <div class="card" style="width:300px">
        <h3>Sorcerer: The Raycaster</h3>
        <div>
            A caster subclass focused completely around spell attacks. It provides various benefits to them, like the ability to target creatures behind cover or 
            even through walls or (at high levels) the ability to snipe them from literally anywhere, as long as you know their exact position or you can see them. 
            You can also convert saving throw spells into spell attacks, sacrificing AoE for the benefits provided by this subclass.

            <br /><br />
            "You know that thing in video games/computer graphics where you shoot a straight line out from some point to get information about whatever it hits? 
            No? You don’t know what video games or computer graphics are? Me neither, but pretend you do. That’s what this class is about."
        </div>
    </div>
</div>
<br />

<h2>Spells</h2>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
    <div class="card" style="width:450px">
        <h3>Viscous Mockery</h3>
        <div>
            Evocation Cantrip <br />
            Casting Time: 1 action <br />
            Range: 5 feet (horizontal), Unlimited (straight down) <br />
            Components: V <br />
            Duration: Instantaneous <br /><br />

            You unleash a string of insults laced with a less-than-subtle enchantment that manifests them as a viscous liquid from your mouth. If this liquid 
            touches a creature, your intentions are conveyed and it must succeed on a Dexterity saving throw or take 1d4 psychic damage and have disadvantage 
            on the next attack roll it makes before the end of its next turn.
        </div>
    </div>

    <div class="card" style="width:450px">
        <h3>Magic Missiletoe</h3>
        <div>
            3rd level Evocation <br />
            Casting Time: 1 action <br />
            Range: 120ft <br />
            Components: V, S, M (a sprig of mistletoe) <br />
            Duration: Concentration, up to 1 minute <br /><br />

            You fire a spectral missile at a target in range, dealing 3d4 + 1 force damage and marking the target with a spectral sprig of mistletoe. At the 
            start of each of your turns, a glowing dart of magical force strikes the marked target, dealing 1d4 + 1 force damage, as long as it remains within 
            your line of sight. If the target is out of sight at the beginning of you turn, the spectral mistletoe remains, but no dart is fired. The target can 
            transfer the spectral mistletoe to a willing creature by kissing it, as long as it has lips.
        </div>
    </div>

    <div class="card" style="width:450px">
        <h3>The Problem Solver</h3>
        <div>
            4th level Transmutation <br />
            Casting Time: 1 action <br />
            Range: Self <br />
            Components: V S M (A printed logic puzzle) <br />
            Duration: Concentration, up to 1 minute <br /><br />

            When you are a hammer, everything becomes a nail. Your forehead enlarges and you gain resistance to bludgeoning and psychic damage for the duration 
            of the spell. You may use your action to make a melee spell attack against a target your size or smaller, headbutting them, dealing 2d6 bludgeoning 
            damage and forcing a strength saving throw. On a failure, the target is restrained, as they are driven into the ground. The target may use their action 
            to free themselves, repeating the saving throw. If a target is hit again with the melee attack while restrained, they receive a 1d4 penalty to all saving 
            throws until they escape. Repeated hits will increase the penalty to 1d6, 1d8, 1d10 and maxing out at 1d12.
        </div>
    </div>
</div>
<br />


<h2>Magic Items</h2>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
    <div class="card" style="width:450px">
        <h3>Cliff's Edge</h3>
        <div>
            +1 longsword <br /><br />

            “If you had a friend named Cliff, would you jump off him?” <br /><br />

            A weapon once wielded by famous adventurer Cliff Ford, who met his untimely demise to a novice wizard with the Feather Fall spell. A cautionary tale to all 
            adventurers not to overspecialise in one thing. This weapon does not directly deal any damage on hit, rather, it leaves Cliff’s mark on the target. A target 
            can be marked multiple times if they are hit multiple times with this weapon. At the beginning of your next turn, each marked target will instantly take the 
            equivalent of 10ft + 10ft per mark in fall damage. You cannot add your ability modifier to this damage.
        </div>
    </div>

    <div class="card" style="width:450px">
        <h3>Multi-pliers</h3>
        <div>
            A seemingly normal pair of pliers. They were discovered to be magical when a guy bought them from a dodgy vendor and accidentally cloned his house after pulling 
            a nail out of it, crushing him into a little mancake in the process. Believe me, the wreckage wasn’t pretty, but the guy had some pretty cool loot on him. Moral 
            of the story: don’t renovate if your house doesn’t need it. You might die. <br /><br />

            Creates an identical replica of any object or creature you choose. To do this, you must clamp down and tear a piece off the object or creature, damaging it in the 
            process, dealing 8d6 (numbers need work) piercing damage. Over the next minute the torn piece will grow into an exact copy of the original target. This copy will 
            last for an hour before dissipating into nothing. Creatures created from this process act on their own volition based on the original, though, they will only have 
            1 hit point.
        </div>
    </div>

    <div class="card" style="width:450px">
        <h3>Anecdote</h3>
        <div>
            The cure to uncertainty. Well, apparently. It’s a bottle of liquid, taken orally. Most people are pretty sceptical about it, but the guy who sold it
            to me assured me that it works. Who am I to question him?

            To use it, open the bottle and speak a phrase, no more than 10 words long. Anyone who drinks its contents in their entirety will be entirely convinced of 
            the truth of that phrase. A creature will continue believing it indefinitely, but when faced with contradictory evidence or when actively convinced 
            to stop believing it, an affected creature can make a DC12 intelligence saving throw to recover from its effects. Upon a failure, the creature cannot
            repeat this saving throw until the next dawn.
        </div>
    </div>
</div>