<div class="page-heading">Art and Music Demo</div>
<div>Here’s a small showing of some of my creations. Over quite a few years, 
    I’ve been learning all of this so that I can create my own assets for my own projects.</div>
<br />

<h3>Mega Man 7 8-Bit Soundtrack Project</h3>
<div>
    This was probably the biggest personal project I've completed. It's a comprehensive cover 
    of the entire Mega Man 7 soundtrack in 8-bit (NES 2A03 + VRC6). I started some time in 2018 
    and finished it in May 2023. Obviously, I wasn't working on it for the entire time, but I'd 
    chip away at it slowly over the years, going back and endlessly adjusting things as I improved. 
    It was a passion project in the truest sense. All of the music was manually transcribed and 
    recreated, all of the art was drawn by me (it is substantially based on in-game assets and 
    official art, so I can't take all the credit), all the video editing was done by me, and the 
    gameplay at the end is the very same Mega Man game that you can demo on this site.
    <br /><br />
    I legitimately went into excruciating detail to get everything perfect. The non-gameplay 
    segments of the video should be pixel-perfect in every single frame, meaning that no pixel 
    ever deviates from the defined grid. Even the scrolling text is perfect. On that note, the 
    scrolling text was generated programmatically. I wrote a small C# program that takes text 
    inputs and an image and spits out a sequence of images of the text scrolling across the input 
    image. I might release it one day, but it's in a pretty crude state right now. Feel free to 
    email me about it if you really want to see it, though. I'll be happy to show you.
</div>
<br />

<div fxLayout="row" fxLayoutAlign="space-around center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VL1hGuam6os" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<br /><br />

<h2>Pixel Art</h2>
<div>I used to make vector art using Adobe Flash, of all things, but these days, I only make 
    pixel art. I use Microsoft Paint and Krita to create my artworks.</div>
<br />

<div fxLayout="row wrap" fxLayoutAlign="space-around start">
    <div>
        <div>Archie, my D&D character</div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/archie-ray-rowman.png" width="200" style="cursor: pointer" (click)="openImageModal('../../../assets/archie-ray-rowman.png')" />
        </div>
    </div>
    <div>
        <div>Ganyu from Genshin Impact</div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/ganyu.png" width="200" style="cursor: pointer; margin-top:50px;" (click)="openImageModal('../../../assets/ganyu.png')" />
        </div>
    </div>
</div>
<br />

<h2>Other Music</h2>
<div>My primary musical skill is transcription, which is what I use to make covers of songs. 
    I use this to make 8-bit versions of songs, using a tool called FamiTracker. It 
    simulates the limitations of the Nintendo Entertainment System’s audio, allowing for 
    authentic 8-bit music. It’s a bit cumbersome to use, but some great chiptunes have come 
    out of it (the soundtrack of the game Shovel Knight was made using this if you want to see 
    an example of professional usage of it). I also transcribe music into a tool called 
    Musescore, used for writing musical scores for various instruments. I primarily use piano 
    (though, I can’t actually play the instrument). Here are some pieces I’ve created.
</div>
<br />

<h3>Mega Man & Bass - Robot Museum (Chiptune)</h3>
<audio controls style="width: 100%">
    <source src="../../../assets/robot-museum.mp3" type="audio/mp3">
</audio>
<br /><br />

<h3>Mega Man X - Storm Eagle (Chiptune)</h3>
<audio controls style="width: 100%">
    <source src="../../../assets/storm-eagle.mp3" type="audio/mp3">
</audio>
<br /><br />

<h3>Mega Man X6 - Infinity Mijinion (Piano and Drums)</h3>
<audio controls style="width: 100%">
    <source src="../../../assets/infinity-mijionion.mp3" type="audio/mp3">
</audio>