.item-input {
    width: 100%;
}

.input-group {
    width: 100%;
    margin-right: 5px;
}

.close-button:hover {
    background-color: grey;
}

.input-button {
    width: 7em;
    height: 3em;
    background-color: rgb(224, 224, 224);
    border: 1px black solid;
    border-radius: 3px;
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    background-color: rgb(170, 170, 170);
}

textarea {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}