<div style="padding: 10px;" fxLayout="column" fxLayoutAlign="start start">
    <button type="button" (click)="cancelButton()" fxFlexAlign="end">X</button>
    <form [formGroup]="itemFormResults" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center" style="width: 100%">
        <div class="input-group">
            <label>Name*: </label>
            <br />
            <input class="item-input" type="text" formControlName="name" required />
        </div>
        <div class="input-group">
            <label>Description: </label>
            <br />
            <textarea class="item-input" formControlName="description"></textarea>
        </div>
        <div class="input-group">
            <label>Value: </label>
            <br />
            <input class="item-input" type="number" formControlName="value" required />
        </div>
        <div class="input-group">
            <label>Weight: </label>
            <br />
            <input class="item-input" type="number" formControlName="weight" required />
        </div>
        <div class="input-group">
            <label>Quantity: </label>
            <br />
            <input class="item-input" type="number" formControlName="quantity" required />
        </div>
        
        <input [disabled]="itemFormResults.invalid" type="submit" value="Save Item"/>

        <div *ngIf="formType === 'edit'">
            <button type="button" (click)="onDelete()">Delete Item</button>
        </div>
    </form>
</div>