<h2>Autocomplete Demo</h2>
<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 23em">
        <label style="padding-left:10px;">Number of Results: </label>
        <input type="number" min="1" value="5" #numberOfSuggestions>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 23em">
        <label style="padding-left:10px;" fxFlexAlign="3">Type Here: </label>
        <input type="text" fxFlexAlign="3" #textInput matInput [matAutocomplete]="auto">
    </div>
</div>


<mat-autocomplete #auto="matAutocomplete">
    <ng-container *ngIf="autocompleteOptions | async as options">
        <mat-option (click)="updateAutocomplete()" *ngFor="let option of options" [value]="option">
            {{option}}
        </mat-option>
    </ng-container>
</mat-autocomplete>

<br />
<br />
<h2>What is it?</h2>
<div>This is a demo of an implementation of autocomplete. It was made to efficiently search very large data sets of 
    strings. It takes a text input and returns a specified number of words containing that input. The data set used 
    for searching can be found at <a href="https://www.mit.edu/~ecprice/wordlist.10000">https://www.mit.edu/~ecprice/wordlist.10000</a>.</div>
<br />
<h2>How it Works</h2>
<div>It uses an implementation of the trie data structure to faciliate these efficient searches. A trie is a type of 
    tree where each node is a key of some kind. In this case, each node is a single character. Each word exists as a 
    chain of letter nodes in the trie (e.g. “cat” would have “c” as the child of the root node, “a” as the child 
    of “c” and “t” as the child of “a”). The end of a word is signified with a boolean flag.</div>
<br />

<div>Each node is essentially just an array with a length corresponding to however many characters are possible in the search 
    space (in my case, 26) and an end flag. When a child is added to a node, it is inserted in its corresponding index in 
    the parent’s array (the index can be determined by a lookup table or using ascii codes). Because of the tree structure and 
    the fact that nodes are automatically sorted upon insertion, traversal of the trie is extremely efficient, thereby making insertion 
    and searching extremely efficient.</div>
<br />

<div fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/trie-data-structure.png" style="max-width:80%; height:auto; cursor:pointer;" (click)="modalService.open('data-structure-image')" />
</div>
<app-modal id="data-structure-image" [widthInPercent]="80" [heightInPercent]="90" [reactiveModal]="true">
    <div fxLayout="column" fxLayoutAlign="start center">
        <mat-icon class="close-button" style="padding-top: 3px" (click)="modalService.close('data-structure-image')" fxFlexAlign="end">close</mat-icon>
        <img src="../../../assets/trie-data-structure.png" width="1200"/>
    </div>
</app-modal>
<br />

<div>Once a trie is established, autocomplete just requires traversal up to a certain point in that trie, then a depth-first 
    search on the last node of that traversal. In my implementation, you are able to specify a maximum number of suggestions, 
    which can stop the search after a point, further increasing efficiency, as the depth-first search does not always need to finish.</div>
<br />
<div>The trie and data set is hosted on my backend and served via 
    <a href="https://cody-resume-site-backend.onrender.com/">https://cody-resume-site-backend.onrender.com/</a>.
</div>
<br />  
<div>Note: Render will try to rebuild the backend if it hasn't been used for a while, so it can take quite a while to access this page.</div>
<br />

<h2>Function Examples</h2>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
    <div>
        <div>Insert example:</div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/autocomplete-insert.png" width="200" style="cursor: pointer" (click)="modalService.open('autocomplete-insert')" />
        </div>
        <app-modal id="autocomplete-insert" [widthInPercent]="80" [heightInPercent]="90" [reactiveModal]="true">
            <div fxLayout="column" fxLayoutAlign="start center">
                <mat-icon class="close-button" style="padding-top: 3px" (click)="modalService.close('autocomplete-insert')" fxFlexAlign="end">close</mat-icon>
                <img src="../../../assets/autocomplete-insert.png" width="1000" />
            </div>
        </app-modal>
    </div>
    <div>
        <div>Search fail example:</div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/autocomplete-search-fail.png" width="200" style="cursor: pointer" (click)="modalService.open('autocomplete-search-fail')" />
        </div>
        <app-modal id="autocomplete-search-fail" [widthInPercent]="80" [heightInPercent]="90" [reactiveModal]="true">
            <div fxLayout="column" fxLayoutAlign="start center">
                <mat-icon class="close-button" style="padding-top: 3px" (click)="modalService.close('autocomplete-search-fail')" fxFlexAlign="end">close</mat-icon>
                <img src="../../../assets/autocomplete-search-fail.png" width="1000" />
            </div>
        </app-modal>
    </div>
    <div>
        <div>Search success example:</div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/autocomplete-search-success.png" width="200" style="cursor: pointer" (click)="modalService.open('autocomplete-search-success')" />
        </div>
        <app-modal id="autocomplete-search-success" [widthInPercent]="80" [heightInPercent]="90" [reactiveModal]="true">
            <div fxLayout="column" fxLayoutAlign="start center">
                <mat-icon class="close-button" style="padding-top: 3px" (click)="modalService.close('autocomplete-search-success')" fxFlexAlign="end">close</mat-icon>
                <img src="../../../assets/autocomplete-search-success.png" width="1000" />
            </div>
        </app-modal>
    </div>
    <div>
        <div>Full autocomplete example:</div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/autocomplete-demo.png" width="200" style="cursor: pointer" (click)="modalService.open('autocomplete-demo')" />
        </div>
        <app-modal id="autocomplete-demo" [widthInPercent]="80" [heightInPercent]="90" [reactiveModal]="true">
            <div fxLayout="column" fxLayoutAlign="start center">
                <mat-icon class="close-button" style="padding-top: 3px" (click)="modalService.close('autocomplete-demo')" fxFlexAlign="end">close</mat-icon>
                <img src="../../../assets/autocomplete-demo.png" width="1000" />
            </div>
        </app-modal>
    </div>
</div>
