.close-button {
    border-radius: 5px;
}

.close-button:hover {
    background-color: grey;
}

.interactive-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}